form {display: flex;
    flex-direction: column;
	justify-content: center;
    align-items: center;
background-color: #A29CAA;}

body{background-color: #9B7CA2;}

h2 {
    text-decoration: underline;
  }

  input[type=button], input[type=reset] {
    background-color: black;
    border: none;
    color: white;
    padding: 16px 32px;
    margin: 4px 2px;
    cursor: pointer;
  }

  input[type=submit] {background-color: white;
    border: none;
    padding: 16px 32px;
    margin: 4px 2px;
    color: black;}